.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__block--left {
  text-align: left;
}

.header__block--right {
  text-align: right;
}

.header__logo {
  /* TODO: Remove it after fitting the Logo */
  margin-left: -40px;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    width: 100%;
    text-align: center;
    /* TODO: Remove it after fitting the Logo */
    margin-left: auto;
  }

  .header__block {
    width: 100%;
  }

  .header__block--left {
    text-align: center;
  }

  .header__block--right {
    text-align: center;
    margin-top: 2.5rem;
  }

  .header__block--right {
    text-align: center;
    margin-top: 1.5625rem;
  }
}
