table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

td,
th {
  padding: 5px;
  vertical-align: top;
}

th {
  border-bottom: 0.0625rem solid #ddd;
}

thead {
  background: #eee;
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
  background: #ddd;
}
